@model ATM.Business.DTO.BalanceDTO

@{
    ViewBag.Title = "Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>Balance</strong></h3>
    </div>
    <div class="panel-body">
        @Html.LabelFor(model => model.CreditCardNumber, htmlAttributes: new {@class = "font-weight-bold" }): @Html.DisplayFor(model => model.CreditCardNumber)
        <hr />
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "font-weight-bold" }): @Html.DisplayFor(model => model.Date)
        <hr />
        @Html.LabelFor(model => model.CreditCardBalance, htmlAttributes: new { @class = "font-weight-bold" }): @Html.DisplayFor(model => model.CreditCardBalance)
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-3 col-md-7">
        @Html.Partial("Exit")
        @Html.ActionLink("Back", "Index", null, htmlAttributes: new { @class = "btn btn-success btn-lg pull-right" })
    </div>
</div>
